<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <style>
        #map{
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>My Map</h1>
    <div id="map"></div>
    <script>
        function initMap(){
            var options ={
                zoom: 8,
                center: {lat: -29.8587, lng: 31.0218}
            }

            var map = new google.maps.Map(document.getElementById('map'), options);
            addMarker({lat: -29.7281267,lng: 30.9462849});
            addMarker({lat: -29.7847369,lng: 30.7215762});
            //addMarker({coord:{lat: -29.7281267,lng: 30.9462849}})
            //addMarker({coord:{lat: -29.7281267,lng: 30.9462849}})
            

            function addMarker(coords){
                var marker = new google.maps.Marker({
                    position:coords,
                    map:map,
                     //Add different icons for aesthetic purposes. 
                });

        // var infoWidow = new google.maps.infoWidow({
        //         content: <h1> Soup Kitchen</h1>
        //     });
            
        //     marker.addLister('click', function(){
        //         infoWidow.open(map, marker);
        //     });
            }
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL6W_xfM2OPo-7XZCmTWkfnF47e1W864w&callback=initMap" async defer></script>
</body>
</html>
